GEMINI_API_KEY=
SUDO_PASSWORD=
MASTODON_ACCESS_TOKEN=
MASTODON_API_BASE_URL=https://mastodon.bot
EMAIL_ADDRESS=
EMAIL_AUTH_TYPE=password
EMAIL_PASSWORD=
EMAIL_OAUTH_CLIENT_ID=
EMAIL_OAUTH_CLIENT_SECRET=
EMAIL_OAUTH_REFRESH_TOKEN=
EMAIL_IMAP_HOST=
EMAIL_IMAP_PORT=993
EMAIL_IMAP_SECURITY=SSL
EMAIL_SMTP_HOST=
EMAIL_SMTP_PORT=465
EMAIL_SMTP_SECURITY=SSL
EMAIL_DISPLAY_NAME=
EMAIL_USERNAME=
